{{> menu active="admin"}}

<section class="section">
  <h1 class="title">Admin Panel</h1>

  {{> admin-users users=users}}
  <hr class="my-5">
  {{> admin-categories categories=categories}}
</section>
