name: backend-ci-cd

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest

    services:
      mongo:
        image: mongo:7
        ports:
          - 27017:27017

    env:
      PORT: 3000
      NODE_ENV: test

      cookie_name: peakpoint_session
      cookie_password: ci-test-secret-please-change-32chars!!

      db: mongodb://localhost:27017/peakpoint_test

      GITHUB_CLIENT_ID: dummy
      GITHUB_CLIENT_SECRET: dummy
      GOOGLE_CLIENT_ID: dummy
      GOOGLE_CLIENT_SECRET: dummy

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install  --legacy-peer-deps

      - name: Start API (dev)
        run: |
          npm run dev &
          echo $! > server.pid

      - name: Wait for API
        run: |
          for i in {1..30}; do
            if curl -s http://localhost:3000/health > /dev/null; then
              echo "API is up"
              exit 0
            fi
            sleep 1
          done
          echo "API did not start in time"
          exit 1

      - name: Run tests
        run: npm test

  deploy:
    needs: checks
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render deploy
        run: curl -X POST "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"
